(
    description: "Turtle Drawing a Square",
    camera: (
        position: (1.0, 1.0, 10.0),
        target: (1.0, 1.0, 0.0),
        fov: 60.0,
        set: [],
    ),
    objects: [
        (
            id: "line_1",
            object: Line(
                start: (-1.0, 0.0, 0.0),
                end: (1.0, 0.0, 0.0),
                color: (1.0, 1.0, 1.0, 1.0),
                thickness: 0.0,
            ),
            set: [
                ("start", Vec3((0.0, 2.0, 0.0))),
                ("end", Vec3((2.0, 2.0, 0.0))),
                ("progress", Float(1.0)),
                ("color", Vec4((0.4802855, 0.0, 0.93013036, 1.0))),
                ("thickness", Float(0.02)),
            ],
        ),
        (
            id: "line_2",
            object: Line(
                start: (-1.0, 0.0, 0.0),
                end: (1.0, 0.0, 0.0),
                color: (1.0, 1.0, 1.0, 1.0),
                thickness: 0.05,
            ),
            set: [
                ("start", Vec3((2.0, 2.0, 0.0))),
                ("end", Vec3((2.0, 0.0, 0.0))),
                ("thickness", Float(0.01)),
                ("color", Vec4((0.6938715, 0.0, 1.0, 1.0))),
                ("progress", Float(0.0)),
            ],
        ),
        (
            id: "line_3",
            object: Line(
                start: (-1.0, 0.0, 0.0),
                end: (1.0, 0.0, 0.0),
                color: (1.0, 1.0, 1.0, 1.0),
                thickness: 0.05,
            ),
            set: [
                ("start", Vec3((2.4, 1.6, 0.0))),
                ("end", Vec3((0.0, 0.0, 0.0))),
                ("thickness", Float(0.01)),
                ("color", Vec4((0.6938715, 0.0, 1.0, 1.0))),
                ("progress", Float(0.0)),
            ],
        ),
        (
            id: "line_4",
            object: Line(
                start: (-1.0, 0.0, 0.0),
                end: (1.0, 0.0, 0.0),
                color: (1.0, 1.0, 1.0, 1.0),
                thickness: 0.0,
            ),
            set: [
                ("start", Vec3((-1.1186942, 1.2503566, 0.0))),
                ("end", Vec3((0.0, 2.0, 0.0))),
                ("progress", Float(0.0)),
                ("color", Vec4((0.4802855, 0.0, 0.93013036, 1.0))),
                ("thickness", Float(0.01)),
            ],
        ),
        (
            id: "sprite_1",
            object: Sprite(
                image: "assets/aseprite-files/turtle.png",
                position: (0.0, 0.0, 0.0),
                size: (1.0, 1.0),
                color: (1.0, 1.0, 1.0, 1.0),
            ),
            set: [
                ("size", Vec2((0.25, 0.25))),
                ("center", Vec2((0.0, -0.125))),
            ],
            appear_at: Some(10.0),
        ),
    ],
    tracks: [
        (
            object: "line_1",
            property: "progress",
            keyframes: [
                (
                    time: 10.0,
                    value: Float(0.0),
                    easing: Linear,
                ),
                (
                    time: 15.0,
                    value: Float(1.0),
                    easing: CubicInOut,
                ),
            ],
        ),
        (
            object: "line_2",
            property: "progress",
            keyframes: [
                (
                    time: 10.0,
                    value: Float(0.0),
                    easing: Linear,
                ),
                (
                    time: 16.0,
                    value: Float(0.0),
                    easing: Linear,
                ),
                (
                    time: 21.0,
                    value: Float(1.0),
                    easing: CubicInOut,
                ),
            ],
        ),
        (
            object: "line_3",
            property: "progress",
            keyframes: [
                (
                    time: 10.0,
                    value: Float(0.0),
                    easing: Linear,
                ),
                (
                    time: 10.0,
                    value: Float(0.0),
                    easing: Linear,
                ),
                (
                    time: 22.0,
                    value: Float(0.0),
                    easing: Linear,
                ),
                (
                    time: 27.0,
                    value: Float(1.0),
                    easing: CubicInOut,
                ),
            ],
        ),
        (
            object: "line_4",
            property: "progress",
            keyframes: [
                (
                    time: 10.0,
                    value: Float(0.0),
                    easing: Linear,
                ),
                (
                    time: 28.0,
                    value: Float(0.0),
                    easing: Linear,
                ),
                (
                    time: 33.0,
                    value: Float(1.0),
                    easing: CubicInOut,
                ),
            ],
        ),
        (
            object: "sprite_1",
            property: "rotation",
            keyframes: [
                (
                    time: 10.0,
                    value: Float(0.0),
                    easing: Linear,
                ),
                (
                    time: 15.0,
                    value: Float(0.0),
                    easing: Linear,
                ),
                (
                    time: 16.0,
                    value: Float(-1.5707),
                    easing: CubicInOut,
                ),
                (
                    time: 21.0,
                    value: Float(-1.5707),
                    easing: Linear,
                ),
                (
                    time: 22.0,
                    value: Float(-3.1415),
                    easing: CubicInOut,
                ),
                (
                    time: 27.0,
                    value: Float(-3.1415),
                    easing: Linear,
                ),
                (
                    time: 28.0,
                    value: Float(-4.712),
                    easing: CubicInOut,
                ),
            ],
        ),
    ],
    bindings: [
        (
            target: "line_2",
            property: "start",
            source: "line_1",
            source_property: "end",
            offset: None,
            start: None,
            end: None,
        ),
        (
            target: "line_2",
            property: "color",
            source: "line_1",
            source_property: "color",
            offset: None,
            start: None,
            end: None,
        ),
        (
            target: "line_3",
            property: "start",
            source: "line_2",
            source_property: "end",
            offset: None,
            start: None,
            end: None,
        ),
        (
            target: "line_3",
            property: "color",
            source: "line_1",
            source_property: "color",
            offset: None,
            start: None,
            end: None,
        ),
        (
            target: "line_4",
            property: "color",
            source: "line_1",
            source_property: "color",
            offset: None,
            start: None,
            end: None,
        ),
        (
            target: "line_4",
            property: "start",
            source: "line_3",
            source_property: "end",
            offset: None,
            start: None,
            end: None,
        ),
        (
            target: "line_2",
            property: "thickness",
            source: "line_1",
            source_property: "thickness",
            offset: None,
            start: None,
            end: None,
        ),
        (
            target: "line_3",
            property: "thickness",
            source: "line_1",
            source_property: "thickness",
            offset: None,
            start: None,
            end: None,
        ),
        (
            target: "line_4",
            property: "thickness",
            source: "line_1",
            source_property: "thickness",
            offset: None,
            start: None,
            end: None,
        ),
        (
            target: "sprite_1",
            property: "position",
            source: "line_1",
            source_property: "pen_position",
            offset: None,
            start: None,
            end: Some(16.0),
        ),
        (
            target: "sprite_1",
            property: "position",
            source: "line_2",
            source_property: "pen_position",
            offset: None,
            start: Some(16.0),
            end: Some(22.0),
        ),
        (
            target: "sprite_1",
            property: "position",
            source: "line_3",
            source_property: "pen_position",
            offset: None,
            start: Some(22.0),
            end: Some(28.0),
        ),
        (
            target: "sprite_1",
            property: "position",
            source: "line_4",
            source_property: "pen_position",
            offset: None,
            start: Some(28.0),
            end: Some(33.0),
        ),
    ],
    export: (
        resolution: None,
        fps: None,
        output: None,
    ),
)