(
    description: "Second scene of turtle graphics and L Systems video",
    camera: (
        position: (0.0, 5.0, 10.0),
        target: (0.0, 0.0, 0.0),
        fov: 60.0,
        set: [],
    ),
    objects: [
        (
            id: "line_1",
            object: Line(
                start: (-1.0, 0.0, 0.0),
                end: (1.0, 0.0, 0.0),
                color: (1.0, 1.0, 1.0, 1.0),
                thickness: 0.0,
            ),
            set: [
                ("start", Vec3((0.0, 2.0, 0.0))),
                ("end", Vec3((2.0, 2.0, 0.0))),
                ("progress", Float(1.0)),
                ("color", Vec4((0.6909089, 0.0, 1.0, 1.0))),
                ("thickness", Float(0.01)),
            ],
        ),
        (
            id: "line_2",
            object: Line(
                start: (-1.0, 0.0, 0.0),
                end: (1.0, 0.0, 0.0),
                color: (1.0, 1.0, 1.0, 1.0),
                thickness: 0.05,
            ),
            set: [
                ("start", Vec3((2.0, 2.0, 0.0))),
                ("end", Vec3((2.0, 0.0, 0.0))),
                ("thickness", Float(0.01)),
                ("color", Vec4((0.6938715, 0.0, 1.0, 1.0))),
                ("progress", Float(0.0)),
            ],
        ),
    ],
    tracks: [
        (
            object: "line_1",
            property: "progress",
            keyframes: [
                (
                    time: 0.0,
                    value: Float(0.0),
                    easing: Linear,
                ),
                (
                    time: 5.0,
                    value: Float(1.0),
                    easing: CubicInOut,
                ),
            ],
        ),
        (
            object: "line_2",
            property: "progress",
            keyframes: [
                (
                    time: 0.0,
                    value: Float(0.0),
                    easing: Linear,
                ),
                (
                    time: 5.0,
                    value: Float(0.0),
                    easing: Linear,
                ),
                (
                    time: 10.0,
                    value: Float(1.0),
                    easing: CubicInOut,
                ),
            ],
        ),
    ],
    bindings: [],
    export: (
        resolution: None,
        fps: None,
        output: None,
    ),
)